@import '~antd/dist/antd.css';

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#root, .ant-layout {
    height: 100%;
}
.logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
}

.inline-block {
    display: inline-block;
}

.ant-layout-header .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

.ant-layout-header .trigger:hover {
    color: #1890ff;
}

.ant-layout-header .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
}