@import '~antd/dist/antd.css';

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#root, .ant-layout {
    height: 100%;
}
.logo {
    height: 64px;
    position: relative;
    line-height: 64px;
    padding-left: 24px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: #002140;
    overflow: hidden;
}

.logo img {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
}

.logo h1 {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin: 0 0 0 12px;
    font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.inline-block {
    display: inline-block;
}

.ant-layout-header .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

.ant-layout-header .trigger:hover {
    color: #1890ff;
}

.ant-layout-header .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
}

.ant-menu-item > a {
    display: inline-block;
    width: 100%;
}
